body {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto";
}

.features .features-name {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto";
}

.descriotion .description-title {
  font-size: 45px;
  line-height: 45px;
  color:#000000;
  font-weight: normal;
  font-family: "Roboto";
}

.page-title .page-title-text {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: normal;
  font-family: "Roboto"
}

.catalog-item-popap .catalog-item-popap-title {
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  font-family: "Roboto"
}
